@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #0d0d0d;
  --color-secondary: #ffd700;
  --color-light: #ffffff;
  --color-accent: #6b8cff;
  --color-gray: #c0c0c0;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}
